body{
    font-family: 'Century Gothic', Georgia, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

.p{
    text-align: center;
}

header{
    /*L'en-tete de mon cv*/
    height: 100px;
}

footer{
    /*Le pied de mon cv*/
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
}

nav{
    width: 100%;
    max-height: 70px;
    background: url("http://");
    background-color: darkslategray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.contain img{
    clip-path: ellipse(50% 50%);
    border: 1px solid black ;
    width: 60px;
    height: 60px;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin: 0 auto;
} 
.menu-ind:hover{
    background-color: darkgreen;
    border-top: 5px solid rgba(142, 142, 161, 0.349);
}

.menu-exp:hover, .competence{
    background-color: rgba(0, 100, 95, 0.486);
    border-top: 5px solid rgba(142, 142, 161, 0.349);
}

.menu-loi:hover, .presentation{
    background-color: darkkhaki;
    border-top: 5px solid rgba(142, 142, 161, 0.349);
}

.menu-con:hover, .Parcours{
    background-color: chartreuse;
    border-top: 5px solid rgba(142, 142, 161, 0.349);
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

section{
    /*mon page d'accueille*/
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px; 
    margin-bottom: 10px;
}

.sec{
    margin: 0px 0px;
}

.left{
    /*L'emplacement des image à droit*/
    float: left;
    width: 30%;
}

.right{
    /*L'emplacement du texte à gauche*/
    float: right;
    width: 70%;  
}

.cleft, .cright, .sousleft, .sousright{
    width: 50%;
    float: left;
}

.sec::after, .exp::after{
    content: "";
    display: table;
    clear: both;
}

.rose{
    /*deuxieme de ma page d'experience en couleur rose*/
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(209, 107, 163, 0.904);
    border-top: 5px solid rgba(101, 101, 151, 0.349);
}

.orange{
    /*premiere de ma page d'experience en couleur orange*/
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    background-color: rgb(230, 140, 38);
    border-top: 5px solid rgba(101, 101, 151, 0.349);
}

.rouge{
    /*ma page contacts en couleur rouge*/
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    background-color: rgb(230, 66, 66);
    border-top: 5px solid rgba(233, 61, 190, 0.349);
}

.leftexp{
    /*L'emplacement des image à droit*/
    width: 30%;
    float: left;
}

.rightexp{
    /*L'emplacement du texte à gauche*/
    width: 70%;
    float: right;
}

h1{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    color: rgba(8, 8, 8, 0.712);
}

.leftcult{
    /*L'emplacement des image à droit*/
    width: 30%;
    float: left;
}

.rightcult{
    /*L'emplacement du texte à gauche*/
    width: 70%;
    float: right;
}

.culture{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    background-color: rgb(26, 127, 167);
    border-top: 5px solid rgba(34, 50, 119, 0.349);
}

.sport{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
    background-color: rgb(188, 230, 38);
    border-top: 5px solid rgb(101, 197, 23);
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}